.text-container {
  border-radius: 3rem;
  background-color: #001220;
  width: 90%;
  position: relative;
  left: 5%;
}
a {
  color: #096002;
  cursor: pointer;
}

/* Tutorial */
.latex-image {
  filter: invert(100%);
}
.latex-image-d {
  width: 8rem;
}
.latex-image-a {
  width: 7rem;
}
.latex-image-st {
  width: 11rem;
}
.latex-image-s {
  width: 4.5rem;
}
.latex-image-s-calc {
  width: 8.5rem;
}

/* Responsive */
@media screen and (min-width: 750px) {
  .text-container {
    padding: 2rem 10rem;
  }
  .latex-image {
    margin-left: 0.5rem;
  }
  .tutorial-img {
    margin: 1rem;
  }
}

@media screen and (max-width: 749px) {
  .text-container {
    text-align: center;
    padding: 1rem 10%;
    margin-bottom: 2rem;
  }
  h2 {
    margin-top: 2rem;
  }
  .tutorial-img {
    margin: 1rem 0;
  }
  ol {
    padding: 0;
  }
  li {
    margin: 1rem 0;
  }
  ul {
    padding: 0;
  }
}
