.text-container {
  border-radius: 1rem;
  background-color: #001220;
  width: 90%;
  position: relative;
  left: 5%;
}

/* Background */
.latex-image {
  filter: invert(100%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.latex-image-d {
  width: 8rem;
}
.latex-image-a {
  width: 7rem;
}
.latex-image-st {
  width: 11rem;
}
.latex-image-s {
  width: 4.5rem;
}
.latex-image-s-calc {
  width: 8.5rem;
}

/* Tutorial */
.tutorial-img {
  border-radius: 1rem;
}

/* Responsive */
@media screen and (min-width: 750px) {
  .text-container {
    padding: 2rem 10rem;
  }
  .tutorial-img {
    margin: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

@media screen and (max-width: 749px) {
  .text-container {
    padding: 1rem 10%;
    margin-bottom: 2rem;
  }
  h2 {
    margin-top: 2rem;
  }
  .tutorial-img {
    margin: 1rem 0;
  }
  ol {
    padding: 0;
  }
  li {
    margin: 1rem 0;
  }
  .ref-link {
    word-break: break-all;
  }
  ul {
    padding: 0;
  }
}
