.container {
  background-color: #001220;
  width: 90%;
  position: relative;
  left: 5%;
  border-radius: 1rem;
}
h2 {
  margin-bottom: -0.5rem;
}

/* InputFields */
.form-inputs {
  width: 50%;
  height: 2rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px grey;
  outline: none;
}
.add-asset-button {
  margin-bottom: 1rem;
  color: white;
  background-color: #449504;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 8rem;
  cursor: pointer;
}
.submit-button {
  margin-bottom: 1rem;
  color: white;
  background-color: #449504;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  width: 7rem;
  cursor: pointer;
  height: 2.5rem;
}
.field-error {
  font-size: 1rem;
  color: red;
  margin-bottom: 1rem;
}
.remove-button {
  color: white;
  background-color: #449504;
  font-size: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  margin-left: 0.5rem;
  width: 2rem;
  cursor: pointer;
}

/* Responsive */
@media screen and (min-width: 750px) {
  .container {
    padding: 1rem 5rem;
  }
  .header-text {
    margin-left: 26%;
    padding-right: 26%;
  }

  /* InputForm */
  .form-labels {
    margin-left: 26%;
    padding-right: 26%;
  }
  .form-inputs {
    margin-left: 25%;
  }
  .form-inputs:focus {
    -webkit-box-shadow: 0 0 0.125rem 0.125rem #449504;
    -moz-box-shadow: 0 0 0.125rem 0.125rem #449504;
    -ms-box-shadow: 0 0 0.125rem 0.125rem #449504;
    -o-box-shadow: 0 0 0.125rem 0.125rem #449504;
    box-shadow: 0 0 0.125rem 0.125rem #449504;
  }
  .submit-button {
    margin-left: 43%;
  }
  .submit-button:hover {
    background-color: #60b000;
  }
  .add-asset-button {
    margin-left: 42%;
  }
  .add-asset-button:hover {
    background-color: #60b000;
  }
  .field-error {
    margin-left: 25%;
  }
  .remove-button:hover {
    background-color: #60b000;
  }
}

@media screen and (max-width: 749px) {
  .container {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .header-text {
    text-align: left;
    width: 85%;
    margin-left: 7%;
  }
  .form-inputs:focus {
    -webkit-box-shadow: 0 0 0.5rem 0.5rem #449504;
    -moz-box-shadow: 0 0 0.5rem 0.5rem #449504;
    -ms-box-shadow: 0 0 0.5rem 0.5rem #449504;
    -o-box-shadow: 0 0 0.5rem 0.5rem #449504;
    box-shadow: 0 0 0.5rem 0.5rem #449504;
  }
}
