.header-container {
  display: grid;
}
.hero-text-top {
  opacity: 0.75;
  margin-bottom: 3.5rem;
}
.hero-text-bottom {
  position: absolute;
  z-index: -2;
}
.header-container div button {
  font-size: 2rem;
  background-color: #096002;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(194, 194, 194, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 0.5rem;
  width: 13rem;
}
.header-container div button a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Start button and hero subheader animation from left on load */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* For start button arrows animation */
.button-text span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-text span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-text:hover span {
  padding-right: 25px;
  margin-left: -25px;
}
.button-text:hover span:after {
  opacity: 1;
  right: 0;
}

/* Responsive */
@media screen and (min-width: 750px) {
  .index-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    height: 75vh;
  }
  .hero-text-top {
    font-size: 5rem;
    line-height: 5rem;
    padding-left: 2rem;
    padding-top: 2rem;
  }
  .hero-text-bottom {
    font-size: 5rem;
    line-height: 5rem;
    padding-left: 2rem;
    padding-top: 2rem;
    max-width: 500px;
  }
  .header-container p {
    font-size: 1.25rem;
    padding-left: 2rem;
    max-width: 30rem;
    margin-top: -2.5rem;
  }
  .header-container div button {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 749px) {
  .index-grid-container {
    display: grid;
    grid-template-columns: 0 1fr;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .index-grid-container img {
    display: none;
  }
  .hero-text-top {
    font-size: 4rem;
    line-height: 4rem;
  }
  .hero-text-bottom {
    font-size: 4rem;
    line-height: 4rem;
  }
  .header-container p {
    font-size: 1.1rem;
    margin-left: 10%;
    max-width: 80%;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
  }
}
