.index-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  height: 75vh;
}
.header-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 1rem;
}
.hero-text-top {
  font-size: 5rem;
  line-height: 5rem;
  padding-left: 2rem;
  padding-top: 2rem;
  opacity: 0.75;
}
.hero-text-bottom {
  font-size: 5rem;
  line-height: 5rem;
  padding-left: 2rem;
  padding-top: 2rem;
  position: absolute;
  z-index: -2;
  max-width: 500px;
}

.header-container p {
  font-size: 1.5rem;
  padding-left: 2rem;
  margin-top: -1rem;
}

.header-container div button {
  font-size: 2rem;
  margin-left: 2rem;
  background-color: green;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(194, 194, 194, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5rem;
}

.header-container div button a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.button-text span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-text span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-text:hover span {
  padding-right: 25px;
  margin-left: -25px;
}

.button-text:hover span:after {
  opacity: 1;
  right: 0;
}
