.index-grid-container {
  display: grid;
  grid-template-columns: 4fr 3fr;
  column-gap: 20px;
  height: 75vh;
}
.header-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 1rem;
}
.header-container h1 {
  font-size: 5rem;
  line-height: 5rem;
  padding-left: 2rem;
  padding-top: 2rem;
}

.header-container p {
  font-size: 1.5rem;
  padding-left: 2rem;
  margin-top: -1rem;
}

.header-container div button {
  font-size: 2rem;
  margin-left: 2rem;
  background-color: green;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(194, 194, 194, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5rem;
}

.header-container div button a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
