.container {
  background-color: #001220;
  width: 90%;
  position: relative;
  left: 5%;
  border-radius: 3rem;
}

.form-inputs {
  width: 50%;

  height: 2rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
}
.form-inputs:focus {
  outline: none;
  border: 3px solid #096002;
}
.add-asset-button {
  margin-bottom: 1rem;
  color: white;
  background-color: #096002;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 8rem;
  cursor: pointer;
}
.submit-button {
  margin-bottom: 1rem;
  color: white;
  background-color: #096002;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  width: 7rem;
  cursor: pointer;
  height: 2.5rem;
}
.field-error {
  font-size: 1rem;
  color: red;

  margin-bottom: 1rem;
}
.remove-button {
  color: white;
  background-color: #096002;
  font-size: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  margin-left: 0.5rem;

  width: 2rem;
  cursor: pointer;
}

/* Responsive */
@media screen and (min-width: 750px) {
  .container {
    padding: 1rem 5rem;
  }
  .form-labels {
    margin-left: 26%;
  }
  .form-inputs {
    margin-left: 25%;
  }
  .submit-button {
    margin-left: 43%;
  }
  .add-asset-button {
    margin-left: 42%;
  }
  .field-error {
    margin-left: 25%;
  }
}

@media screen and (max-width: 749px) {
  .container {
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}
