.container {
  /* margin: auto;
  max-width: 500px;
  font-family: sans-serif; */
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding: 2rem 0;
  align-items: right;
}

.nav-link-home {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: auto;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: white;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}

.footer-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.footer-link-item {
  padding-right: 2rem;
}

.footer-link-text {
  color: white;
}
