.scatter-plot {
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.pie-chart-element {
  background-color: white;
  border-radius: 1rem;
}

/* Responsive */
@media screen and (min-width: 750px) {
  .scatter-plot {
    height: 40rem;
  }
  .pie-chart-style {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
  }
  .pie-chart-element {
    width: 26rem;
    float: right;
    padding-bottom: 0.5rem;
  }
  .pie-chart-info {
    margin-left: 5%;
  }
  .pie-chart-info p {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 749px) {
  .scatter-plot {
    height: 80vh;
    min-height: 20rem;
  }
  .pie-chart-mobile-style {
    display: grid;
    justify-content: center;
  }
  .pie-chart-element {
    padding-bottom: 0.5rem;
    max-width: 18.5rem;
    display: grid;
    justify-content: center;
  }
  .pie-chart-info {
    text-align: left;
    margin-left: 7%;
    padding-bottom: 2rem;
  }
}
