.scatter-plot {
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.pie-chart-element {
  background-color: white;
  border-radius: 1rem;
}

/* Responsive */
@media screen and (min-width: 750px) {
  .scatter-plot {
    width: 70%;
    margin-left: 15%;
    height: 30rem;
  }
  .pie-chart-style {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
  }
  .pie-chart-info {
    margin-left: 5%;
  }
  .pie-chart-info p {
    padding-left: 1rem;
  }
  .pie-chart-element {
    width: 25rem;
    margin-left: 10rem;
    padding-bottom: 0.5rem;
  }
}

@media screen and (max-width: 749px) {
  .scatter-plot {
    width: 90%;
    margin-left: 5%;
    height: 60vh;
    min-height: 20rem;
  }
  .pie-chart-style {
    display: grid;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .pie-chart-element {
    padding-bottom: 0.5rem;
    width: 99%;
  }
  .pie-chart-info {
    text-align: left;
  }
  .pie-chart-info p {
    padding-left: 1rem;
  }
}
