.container {
  width: 90%;
}
.scatter-plot {
  background-color: white;
  margin-left: 10%;
  border-radius: 2rem;
  margin-bottom: 2rem;
  height: 50vh;
}

/* Responsive */
@media screen and (min-width: 750px) {
  .pie-chart-style {
    margin-left: 20%;
    /* width: 90%; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 3rem;
    /* text-align: center; */
  }
  .pie-chart-info {
    min-width: 20rem;
    padding-left: 4rem;
    /* padding-top: 2rem; */
  }
}

@media screen and (max-width: 749px) {
  .pie-chart-style {
    margin-left: 10%;
    width: 90%;
    margin-bottom: 3rem;
    text-align: center;
  }
}
